<!DOCTYPE html>
<html>


<div class="main">
  <div class ="jumbotron_2">
    <div class="col-md-4 col-md-offset-1">
    <p>Thor Lund has a storied history of excellence in executing major projects, starting from when he led Student Government at the University of Texas to his most recent success developing Lund Enterprise. </p>
      </div>
  </div>
</div>
  
</html>