<!DOCTYPE html>
<html>
  
  <div class="contact_info">
    <div class="container">
      <h1>Connect with Thor </h1>
      <ul>
        <li><a href="#"> Facebook </a></li>
        <li><a href="https://twitter.com/LundThor"> Twitter </a></li>
        <li><a href="https://www.linkedin.com/pub/thor-lund/58/976/953"> LinkedIn </a></li>
      </ul>
        </div>
  </div>
  
  
</html>