<!DOCTYPE html>
<html>
  <body>
    <script src="//code.jquery.com/jquery-latest.min.js"></script>
<script src="//unslider.com/unslider.min.js"></script>
    
    
    <div class="main">
      <div class="jumbotron">
        
    <div class="banner">
    <ul>
        <li>This is a slide.</li>
        <li>This is another slide.</li>
        <li>This is a final slide.</li>
    </ul>
</div>
      </div>
    </div>
    
    <div class="support">
      <div class="container">
        <div class="row">
          <div class="col-md-4"><img src="https://db.tt/SQDultRG" width="350" height ="200">
            <h1>Innovation Cloud</h1>
            <p>An app for data storage.</p>
            <a href="https://s3.amazonaws.com/codecademy-content/projects/innovation-cloud/index.html">Learn more</a>
					 </div>
          <div class="col-md-4"><img src="https://db.tt/D3jQd3Zn" width="350" height ="200">
          <h1>ShutterBugg</h1>
            <p>Store all your pictures online.</p>
            <a href="https://s3.amazonaws.com/codecademy-content/projects/shutterbugg/index.html">Learn more</a>
          </div>
          <div class="col-md-4"><img src="https://db.tt/20VMpgfb" width="350" height ="200">
            <h1>Move</h1>
            <p>Track your daily fitness.</p>
            <a href="https://s3.amazonaws.com/codecademy-content/projects/move/index.html">Learn more</a>
            </div>
        </div>
      </div>
    </div>
    
    
    
  </body>
</html>