<!DOCTYPE html>
<html>
  <body>
    <div class="header">
      <div class="container">
      <div class="row">
        <div class="col-xs-8">
          <ul>
          <li>Welcome</li>
          <li>Porftolio</li>
          <li>Blog</li>
          <li>About</li>
          <li>Contact</li>
          </ul>
        </div>
        <div class="col-xs-4">
          <h1>Thor Lund</h1>
        </div>
        </div>
      </div>
    </div>
  
 <div class= "main home">
  <div class="jumbotron">
    <div class ="container">
      <h2>Man. Boss. Thor.</h2>
      <a class="btn right" href="portfolio">View my Work</a>
    </div>
    </div>
    </div>
  
  <div class= "footer">
    <div class= "container">
      <ul class= "social_media">
        <li><a class="github" href="#">github</a></li>
        <li><a class="linkedin" href="#">linkedin</a></li>
        <li><a class="twitter" href="#">twitter</a></li>
      </ul>
      <p>© 2015 Thor Lund</p>
    </div>
    </div>
 
        
  
  
  </body>
</html>