<!DOCTYPE html>
<html>
  <body>
    
 <div class= "main home">
  <div class="jumbotron">
    <div class ="container">
      <h2>Man. Boss. Thor.</h2>
      <a class="btn right" href="/pages/portfo">View my Work</a>
    </div>
    </div>
    </div>
  
 
 
        
  
  
  </body>
</html>