<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,500,700' rel='stylesheet' type='text/css'>
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
  
  
<div class="header">
      <div class="container">
      <div class="row">
        <div class="col-xs-8">
          <ul>
          <li><a href="/">Welcome</a></li>
          <li><a href="/pages/portfo">Porftolio</a></li>
            <li><a href="https://lundthor.wordpress.com/">Blog</a></li>
          <li><a href="/pages/about">About</a></li>
          <li><a href="/pages/contact">Contact</a></li>
          </ul>
        </div>
        <div class="col-xs-4">
          <h1>Thor Lund</h1>
        </div>
        </div>
      </div>
    </div>
  
  
<body>

<%= yield %>


  
  <div class= "footer">
    <div class= "container">
      <ul class= "social_media">
        <li><a class="github" href="#">github</a></li>
        <li><a class="linkedin" href="#">linkedin</a></li>
        <li><a class="twitter" href="#">twitter</a></li>
      </ul>
      <p>© 2015 Thor Lund</p>
    </div>
    </div>
  
  
</body>
</html>
